html{
    height: auto;
    margin: 0;
    padding: 0;
    min-width: 1225px;
    min-width: 1000px;
}


body{
    font-family: "Noto Sans KR", sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

#contents{
    width: 1000px;
    min-height: auto;
    margin: 0 auto;
}

.content{
    position: relative;
    float: right;
    width: 1000px;
    padding: 60px 0 60px 40px;
}

/* 봉사글 등록하는 기관 이름 */
.content_header{
    position: relative;
    padding-bottom: 15px;
}

.unknown-user-comment{
    height: 350px;
    margin: 25px;
}

.unknown-user-comment textarea{
    height: 300px;

}

.content_header h2{
    padding-bottom: 17px;
    border-bottom: 1px solid #ccc;
    font-size: 30px;
    font-weight: 500;
    color: #333;
    letter-spacing: -0.060em;
}

.top_title{
    margin: 0;
    line-height: 100%;
}

.content_view{
    position: relative;
}

.top_title_header{
    padding: 15px;
    color: #000;
    border-top: 2px solid #333;
    border-bottom: 1px solid #333;
    background: #eee;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.top_title_header2{
    padding: 15px;
    color: #000;
    /* border-bottom: 1px solid #333; */
    font-size: 17px;
    margin: 0;
    font-weight: bold;
}

.board_view .type2{
    margin-top: 0;
    padding: 0;
    border-top: 2px solid #333;
}

.name_bar{
    padding: 21px 25px;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 18px;
    padding-bottom: 0;
    justify-content: space-between;
    padding-top: 0;
}

.post-form,
.comments {
    margin-bottom: 20px;
}

input {
    width: 724px;
    height: 90px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    resize: vertical;
}

.submit{
    background-color: #0099ff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}

.delete{
    background-color: #f33a0b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}

/* button:hover {
    font-size: 16px;
} */

.post {
    background: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}

.post-time_1{
    color: #999;
    font-size: 0.9em;
    margin-top: 10px;
}

.post-time {
    color: #999;
    font-size: 0.9em;
    margin-top: 1px;
    margin-bottom: 5px;
}

.comment p{
    margin: 0;
}

.comments {
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.comment {
    width: 844px;
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-top: 0 solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.comment_box{
    border-top: 1px solid #ccc;
    padding-left: 50px;
    padding-right: 50px;
}

textarea{
    width: 844px;
    height: 70px;
    resize: none;
    /* border-radius: 5px; */
}

textarea:hover{
    border-radius: 5px;
}

h3{
    margin-bottom: 3px;
}

.plz_down{
    text-align: center;
}

/* 목록 */
.customer_center .btn_sec.btn_sec_center {
    text-align: center;
}

button, button span {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: top;
}
button {
    display: inline-block;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0 none;
    background: none;
}

.btn_submit span {
    display: inline-block;
    height: 40px;
    padding: 0 33px;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    /* border: 1px solid #ccc; */
    color: #fff;
    background: #f36200;
}

.btn-box{
    text-align: right;
    margin-right: 30px;
    margin-top: 10px;
}