<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.doum.mapper.lee.MyPageMapper">


<!-- 게시물 작성 쿼리문 -->
<insert id="saveStory">
    insert into TBL_BOARD
    values(#{boardId}, #{boardTitle}, #{boardContent}, 0, sysdate, sysdate, #{providerId})
</insert>







</mapper>