<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="guest_main.css">
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="footer.css" />

    
</head>
<body>


<header>
  <img src="img/logo.png" alt="log"> 
  
 <div class="menu">
           <span>DOUM</span>
           <span><a href="">봉사안내</a></span>
           <span><a href="volunteer-search.html">봉사찾기</a></span>
           <span><a href="">고객센터</a></span>
          <span><a href="registered-volunteer.html">내가 등록한 봉사</a></span>
     <span id="toggleButton" class="menu-item">전체메뉴</span> 
     <span id="bell"><a href="#">  🛎</a></span>
     <span id="login"><a href="login_test.html">로그인</a></span>
     <span id="join"><a href="join2.html">회원가입</a></span>
 </div> 

 
</header>


<div>
  <nav class="list">
    <div id="volunteerInfo" class="hidden">
      <h2><a href="organization-search.html">기관검색</a></h2>
      <p>봉사 시간 날짜 등등.</p>
    </div>
    <div id="volunteerJoin" class="hidden">
      <h2>봉사검색</h2>
      <p>봉사 참여 관련된 정보와 절차.</p>
    </div>
    <div id="volunteerCenter" class="hidden">
      <h2><a href="announcement.html"> 공지사항</a></h2>
      <p>공지사항 관련 정보와 연락처.</p>
    </div>
    <div id="myVolunteer" class="hidden">
      <h2>나의 자원봉사</h2>
      <p>자신의 자원봉사 이력이나 정보.</p>
    </div>
    <div>
      <h2><a href="anonymous.html">My page</a></h2>
    </div>
  </nav>

 


</div>

                                         
  
    
    <div>
<!-- 이미지 배너 -->
    <div class="outer">
        <div class="inner-list">
          <div class="inner">
              <img src="https://www.1365.go.kr/upload/attachments/5615109e-83da-4827-8c8b-d0dae11829db.png" alt="1년 365일 자원봉사하기" id="img-1">
            </div>
            <div class="inner">
                <img src="https://www.1365.go.kr/upload/attachments/978d93f7-f19b-4c85-b057-7539d9898d10.png" alt="1년 356일 자원봉사하기" id="img-1">
            </div>
            
        </div>
    </div>
    <div class="button-list">
      <button class="button-left"><</button>
      <button class="button-right">></button>
    </div> 
</div>
 <!-- 버튼 -->


<!-- 아이콘 -->
<div class="page_go_wrap">
    <div class="container">
        <ul>
            
            <li class="go2"><a href="/vols/1479976181104/mypage/selectSvcrltLinkedList.do" class="">자원봉사실적 나이스연계 </a></li>
            <li class="go3"><a href="/vols/P9130/srvcinfo/volsCnterInfo.do" class="">지역자원봉사센터</a></li>
            <li class="go4"><a href="/vols/P9140/srvcinfo/volsDnttInfo.do" class="">자원봉사 수요기관정보</a></li>
            <li class="go5"><a href="/vols/P9440/bbs/bbs.do?bbsNo=992000&amp;titleNm=목록" class="">질문과 답변</a></li>
            <li class="go6"><a href="/vols/P9450/bbs/bbs.do?bbsNo=993000" class="">자주하는 질문</a></li>
          </ul>
          
        </div>
      </div>
      
 <!-- 모집중인 자원봉사  -->
<div class="bongsalist">
  <!-- 봉사지원하기 넣기 -->
  <div class="mozip" style="display: flex;">
    <div>모집중인 자원봉사</div> 
  </div>
    <div style="text-align: right; padding-right: 320px;"><a href="" style="color: #ffffff;">+더보기</a></div>
  

  <div class="bongsalist-1" style="display: flex;">
    <div class="bongsa-1">
      <div>
        <div class="bar"></div>
        <div style="padding: 0 8px;">
          <p class="mainfont">기타
        </p>
        <p class="text">
          대전중구치매안심센터 자원봉사자 모집(쉼터)오후
        </p>
              
              <p class="font">▷모집인원:5명/1일</p>
              <p class="font">▷모집기간:2024:07.20~2024.07.29</p>
            <p class="font">▷봉사기간:2024.04.20~2024.04.17</p></div>
            <div class="bongsa_plus" ><a href="#" class="a1">
              상세보기>
            </a></div>
      </div>

        </div>


    <div class="bongsa-1">
      <div class="bar"></div>
      <div style="padding: 0 8px;">
          <p class="mainfont">환경정화</p>
        <p class="text">시니어들의 아름다운 외출 "플로깅"</p>
        <p class="font">▷모집인원:5명/1일</p>
      <p class="font">▷모집기간:2024:07.20~2024.07.29</p>
    <p class="font">▷봉사기간:2024.04.20~2024.04.17</p>
    <div class="bongsa_plus" ><a href="#" class="a1">상세보기></a></div>

        </div>

</div>
    





        <div class="bongsa-1"> 
        <div class="bar"></div>
        <div style="padding: 0 8px;">
          <p class="mainfont">자원봉사</p>
            <p class="text">[모집]7월 자원봉사자 기본교육-19:00-21:00</p>
          <p class="font">▷모집인원:5명/1일</p>
          <p class="font">▷모집기간:2024:07.20~2024.07.29</p>
           <p class="font">▷봉사기간:2024.04.20~2024.04.17</p>
           <div class="bongsa_plus" ><a href="#" class="a1">상세보기></a></div>
        </div>
      </div>

        <div class="bongsa-1">
          <div class="bar"></div>
          <div style="padding: 0 8px;">
            <p class="mainfont">행사보조</p>
            <p class="text">[서울형 키즈카페 시립 1호점]아동 안전 지도, 돌봄서비스</p>
            <p class="font">▷모집인원:5명/1일</p>
             <p class="font">▷모집기간:2024:07.20~2024.07.29</p>
              <p class="font">▷봉사기간:2024.04.20~2024.04.17</p>
              <div class="bongsa_plus" ><a href="#" class="a1">상세보기></a></div>
          </div>

          </div>

            


      </div>
</div>
         

            <!--  -->
            <!-- 봉사활동 상세페이지  -->
            <a href="/vols/1572247904127/partcptn/timeCptn.do" class="more" title="모집중인 자원봉사 더보기">+더보기</a>
        </div>
        
    </div>
</div>
</div>
    <!-- 공지사항 -->
    <!-- 인재님이 만들어주신 공지사항페이지 이동하게 만들기  -->
      <div class="board">
        <div style="justify-content: center; margin-left: 130px">
     
        
<div class="div" style="margin-right:40px;">
  <p class="p">알림판

    <span class="span">더보기</span>
  </p>
  <br>
  <a href="#">

    [공지]국민비서 서비스 중단 안내
    <br>
    [공지][NICE평가정보] KT 휴대폰 본인 확인 일시
    <br>
    [공지][온기나눔 범국민 캠페인]]
    <br>
    [공지]1365포털 인증 자원봉사자 혜택제공 안내
    <br>
    [공지] 온기나누 범국민 캠페인 추진안내
  </a>
</div>

        <div class="line"></div>
      

          <div class="board-items2">
            <p class="p">
              익명 게시판
            <span class="plus1">
              더보기
            </span>

            </p>
              
          
        
        <br>

      
<a href="#"> 

  
  [공지]국민비서 서비스 중단 안내
    <br>
    [공지][NICE평가정보] KT 휴대폰 본인 확인 일시
    <br>
    [공지][온기나눔 범국민 캠페인]]
    <br>
    [공지]1365포털 인증 자원봉사자 혜택제공 안내
    <br>
    [공지] 온기나누 범국민 캠페인 추진안내
</a>

</div>



      </div></div>
      
      </div>

    <!-- 큰 틀 -->
    



<div class="line"></div>

<!-- 하단 배너 -->
<div class="banner">
  <img src=" https://www.1365.go.kr/upload/attachments/aef2c78e-b79c-460c-b27e-ec4501126509.jpg" alt="">
  
  <!--  -->
  <!-- 온도계 -->
  <div  class="thermometer">
      <div><img src="img/온도계 2024-07-02 191313.png" alt="온도계"></div>
      <div style="width: 100%; height: 100%;"><h5 style="text-align: right;  color: #333;
        font-size: 23px;
        font-weight: 500;">자원봉사로 이어진 사랑의 온도 누적현황</h5>
        <div style="justify-content:space-between ;">
          <table>
            <tr>
              <th style="color: #f36200;
            font-size: 26px;
            font-weight: bold;">77,914</th>
            <th style="text-align: right;">오늘 접속자</th>
          </tr>
          <tr>
            <th style="color: #f36200;
            font-size: 26px;
            font-weight: bold;">17,049,844</th>
            <th style="text-align: right;">2024년 접속자</th>
          </tr>
          <tr>
            <th style="color: #f36200;
            font-size: 26px;
            font-weight: bold;">8,289,278</th>
            <th style="text-align: right;">활동자 수(전일기준)</th>
          </tr>
        </table>
      </div>

        <p style="margin-top: 30px;">⨳사랑의 온도가 높아질수록 행복도 커져갑니다.</p>
      </div>
      
    </div>
</div>

<!-- footer -->
<footer class="footer">
  <div class="footer__addr">
      <h1 class="footer__logo"><img src="./img/logo.png" width="100px"></h1>
          
      <h2>Contact</h2>
      
      <address>
          서울특별시 강남구 테헤란로 26길 12 제일비전타워 13층<br>
      </address>
  </div>
  
  <ul class="footer__nav">
      <li class="nav__item">
          <h2 class="nav__title">DOUM</h2>
      
          <ul class="nav__ul">
              <li>
                  <a href="#">메인</a>
              </li>
      
              <li>
                  <a href="#">기관검색</a>
              </li>
                  
              <li>
                  <a href="#">봉사검색</a>
              </li>
              <li>
                  <a href="#">익명게시판</a>
              </li>
              <li>
                  <a href="#">공지사항</a>
              </li>
          </ul>
      </li>
      <li class="nav__item">
          <h2 class="nav__title">마이페이지</h2>
      
          <ul class="nav__ul">
              <li>
                  <a href="#">내정보</a>
              </li>
      
              <li>
                  <a href="#">내봉사</a>
              </li>
          </ul>
      </li>
      <li class="nav__item">
          <h2 class="nav__title">스토리</h2>
      
          <ul class="nav__ul">
              <li>
                  <a href="#">유저찾기</a>
              </li>
      
              <li>
                  <a href="#">내프로필</a>
              </li>
          </ul>
      </li>
      <li class="nav__item">
          <h2 class="nav__title"></h2>
      
          <ul class="nav__ul">
              <li>
                  <a href="#"></a>
              </li>
      
              <li>
                  <a href="#"></a>
              </li>
          </ul>
      </li>
  </ul>
  
  <div class="legal">
      <p>&copy; 2019 Something. All rights reserved.</p>
      
      <div class="legal__links">
      <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
      </div>
  </div>

<!--  -->
      
</body>
</html>

<script>
    /*
  div사이즈 동적으로 구하기
*/
const outer = document.querySelector('.outer');
const innerList = document.querySelector('.inner-list');
const inners = document.querySelectorAll('.inner');
let currentIndex = 0; // 현재 슬라이드 화면 인덱스

inners.forEach((inner) => {
  inner.style.width = `${outer.clientWidth}px`; // inner의 width를 모두 outer의 width로 만들기
})

innerList.style.width = `${outer.clientWidth * inners.length}px`; // innerList의 width를 inner의 width * inner의 개수로 만들기

/*
  버튼에 이벤트 등록하기
*/
const buttonLeft = document.querySelector('.button-left');
const buttonRight = document.querySelector('.button-right');

buttonLeft.addEventListener('click', () => {
  currentIndex--;
  currentIndex = currentIndex < 0 ? 0 : currentIndex; // index값이 0보다 작아질 경우 0으로 변경
  innerList.style.marginLeft = `-${outer.clientWidth * currentIndex}px`; // index만큼 margin을 주어 옆으로 밀기
  clearInterval(interval); // 기존 동작되던 interval 제거
  interval = getInterval(); // 새로운 interval 등록
});

buttonRight.addEventListener('click', () => {
  currentIndex++;
  currentIndex = currentIndex >= inners.length ? inners.length - 1 : currentIndex; // index값이 inner의 총 개수보다 많아질 경우 마지막 인덱스값으로 변경
  innerList.style.marginLeft = `-${outer.clientWidth * currentIndex}px`; // index만큼 margin을 주어 옆으로 밀기
  clearInterval(interval); // 기존 동작되던 interval 제거
  interval = getInterval(); // 새로운 interval 등록
});

/*
  주기적으로 화면 넘기기
*/
const getInterval = () => {
  return setInterval(() => {
    currentIndex++;
    currentIndex = currentIndex >= inners.length ? 0 : currentIndex;
    innerList.style.marginLeft = `-${outer.clientWidth * currentIndex}px`;
  }, 3000);
}

let interval = getInterval(); // interval 등록



document.addEventListener('DOMContentLoaded', function() {
  var toggleButton = document.getElementById('toggleButton');
  var nav = document.querySelector('nav');
  
  toggleButton.addEventListener('click', function() {
    // nav의 display를 toggle하여 보이거나 숨김
    nav.style.display = (nav.style.display === 'none') ? 'block' : 'none';
  });

  // 각 메뉴 아이템에 클릭 이벤트 추가
  var volunteerInfo = document.getElementById('volunteerInfo');
  var volunteerJoin = document.getElementById('volunteerJoin');
  var volunteerCenter = document.getElementById('volunteerCenter');
  var myVolunteer = document.getElementById('myVolunteer');

  document.getElementById('toggleButton').addEventListener('click', function() {
    if (volunteerInfo.style.display === 'none') {
      volunteerInfo.style.display = 'block';
      volunteerJoin.style.display = 'block';
      volunteerCenter.style.display = 'block';
      myVolunteer.style.display = 'block';
    } else {
      volunteerInfo.style.display = 'none';
      volunteerJoin.style.display = 'none';
      volunteerCenter.style.display = 'none';
      myVolunteer.style.display = 'none';
    }
  });
});

</script>