<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>알림판</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/jung/announcement.css}" />
  </head>
  <body>
    <div class="container">
      <header class="announcement-header">
        <h1>알림판</h1>
        <hr />
      </header>
      <div class="search-section">
        <select class="search-type-select">
          <option>제목</option>
          <option>글작성자</option>
        </select>
        <input type="text" />
        <button>검색</button>
      </div>
      <table>
        <thead>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="notice">공지</td>
            <td><a href="#">국민비서 서비스 중단 안내</a></td>
            <td>총관리자</td>
            <td>2024-06-28</td>
            <td>157</td>
          </tr>
          <tr>
            <td class="notice">공지</td>
            <td><a href="#">[NICE평가정보] KT 휴대폰본인확인 일시 사용 중단 안내 (5/31)</a></td>
            <td>총관리자</td>
            <td>2024-05-29</td>
            <td>2523</td>
          </tr>
          <tr>
            <td class="notice">공지</td>
            <td><a href="#">「온기나눔 범국민 캠페인」 홍보영상</a></td>
            <td>김훈곤</td>
            <td>2024-04-29</td>
            <td>13117</td>
          </tr>
          <tr>
            <td class="notice">공지</td>
            <td><a href="#">1365포털 인증 자원봉사자 혜택제공 안내(신라 인터넷 면세점)</a></td>
            <td>원종운</td>
            <td>2024-01-18</td>
            <td>39969</td>
          </tr>
          <tr>
            <td class="notice">공지</td>
            <td><a href="#">「온기나눔 범국민 캠페인」 추진 안내</a></td>
            <td>김훈곤</td>
            <td>2023-12-21</td>
            <td>31825</td>
          </tr>
          <tr>
            <td class="notice">공지</td>
            <td><a href="#">2023년 1365자원봉사포털 휴면 계정 정비 안내</a></td>
            <td>총관리자</td>
            <td>2023-11-21</td>
            <td>30148</td>
          </tr>
          <tr>
            <td class="notice">공지</td>
            <td><a href="#">2023년 자원봉사 유공 정부포상 후보자 공개검증</a></td>
            <td>원종운</td>
            <td>2023-09-25</td>
            <td>32383</td>
          </tr>
          <tr>
            <td class="notice">공지</td>
            <td><a href="#">국민이 추천하고 정부가 포상하는 국민추천포상</a></td>
            <td>총관리자</td>
            <td>2023-06-12</td>
            <td>31477</td>
          </tr>
          <tr>
            <td class="notice">공지</td>
            <td><a href="#">[2023년 대한민국 자원봉사 대상 '국민추천' 안내</a></td>
            <td>총관리자</td>
            <td>2023-05-08</td>
            <td>33125</td>
          </tr>
          <tr>
            <td class="notice">공지</td>
            <td><a href="#">[2023년 대한민국 자원봉사 대상 '국민추천' 안내</a></td>
            <td>총관리자</td>
            <td>2023-05-08</td>
            <td>33125</td>
          </tr>
          <tr>
            <td class="notice">공지</td>
            <td><a href="#">[2023년 대한민국 자원봉사 대상 '국민추천' 안내</a></td>
            <td>총관리자</td>
            <td>2023-05-08</td>
            <td>33125</td>
          </tr>
          <tr>
            <td class="notice">공지</td>
            <td><a href="#">[2023년 대한민국 자원봉사 대상 '국민추천' 안내</a></td>
            <td>총관리자</td>
            <td>2023-05-08</td>
            <td>33125</td>
          </tr>
          <tr>
            <td class="notice">공지</td>
            <td><a href="#">[2023년 대한민국 자원봉사 대상 '국민추천' 안내</a></td>
            <td>총관리자</td>
            <td>2023-05-08</td>
            <td>33125</td>
          </tr>
          <tr>
            <td class="notice">공지</td>
            <td><a href="#">[2023년 대한민국 자원봉사 대상 '국민추천' 안내</a></td>
            <td>총관리자</td>
            <td>2023-05-08</td>
            <td>33125</td>
          </tr>
          <tr>
            <td class="notice">공지</td>
            <td><a href="#">[2023년 대한민국 자원봉사 대상 '국민추천' 안내</a></td>
            <td>총관리자</td>
            <td>2023-05-08</td>
            <td>33125</td>
          </tr>
          <tr>
            <td class="notice">공지</td>
            <td><a href="#">[2023년 대한민국 자원봉사 대상 '국민추천' 안내</a></td>
            <td>총관리자</td>
            <td>2023-05-08</td>
            <td>33125</td>
          </tr>
        </tbody>
      </table>
      <div class="paging-container">
        <button class="page-button">&lt;</button>
        <button class="page-button active">1</button>
        <button class="page-button">2</button>
        <button class="page-button">3</button>
        <button class="page-button">2</button>
        <button class="page-button">&gt;</button>
      </div>
    </div>
  </body>
</html>
