<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="announcement.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
</head>
<body>
<!-- 임시 헤더 (위치잡기용) -->
<header><h1>nav바</h1></header>

<div id="contentwrap">
    <div id="contents"> <!-- side바를 만들지 말지 회의중이라 왼쪽에 빈곳이 있음 -->
        <div class="content" id="content">
            <div class="content_header">
                <h2 class="top_title">공지 사항</h2>
            </div>
            <!-- 등록글 제목 -->
            <div class="content_view">
                <div class="customer_center">
                    <div class="board_view type2">
                        <h3 class="top_title_header">
                            공지 사항 내역 (이름)
                        </h3>
                    </div>

                    <div class="board_view type2">
                        <h3 class="top_title_header2">
                            <div class="manager_bar">

                                <div class="name_bar">작성자: 00기관
                                    <div>작성일: 2024.06.28</div>
                                    <div>조회수: 197</div>
                                </div>
                            </div>
                        </h3>
                    </div>

                    <div class="comments">
                        <div class="unknown-user-comment">
                            <text>
                                봉사활동 점수 모자라서 그런데 저기 어떤가요? 괜찮나요?
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                - 활동시간: 2024년7월 06일 (토) 10:00 ～ 12:00<br>
                                - 집결장소: 구의3동 주민센터앞 개나리공원<br>
                                - 봉사내역: 현장에서 하는 봉사활동! 빗물받이 수리!<br>
                                <br>
                                이라던데...
                            </text>

                        </div>
                    </div>
                    <!-- 목록으로 돌아가는 버튼 -->
                    <div class="border_bot">
                        <div class="btn_sec btn_sec_center">
                            <button type="button" class="btn_submit" id="btnList">
                                <span>목록</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>