<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>익명게시판 상세보기</title>
    <link rel="stylesheet" href="unknwon-view-detail.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
</head>
<body>
<!-- 임시 헤더 (위치잡기용) -->
<header><h1>nav바</h1></header>

<div id="contentwrap">
    <div id="contents"> <!-- side바를 만들지 말지 회의중이라 왼쪽에 빈곳이 있음 -->
        <div class="content" id="content">
            <div class="content_header">
                <h2 class="top_title">익명 게시판</h2>
            </div>
            <!-- 등록글 제목 -->
            <div class="content_view">
                <div class="customer_center">
                    <div class="board_view type2">
                        <h3 class="top_title_header">
                            구3캠프 환경정화"우리마을 환경정화는 우리손으로 <- 여기 어떤가요??
                        </h3>
                    </div>

                    <div class="board_view type2">
                        <h3 class="top_title_header2">
                            <div class="manager_bar">

                                <div class="name_bar">작성자: 익명
                                    <div>작성일: 2024.06.28</div>
                                    <div>조회수: 197</div>
                                </div>
                            </div>
                        </h3>
                    </div>

                    <div class="comments">
                        <div class="unknown-user-comment">
                            <text>
                                봉사활동 점수 모자라서 그런데 저기 어떤가요? 괜찮나요?
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                - 활동시간: 2024년7월 06일 (토) 10:00 ～ 12:00<br>
                                - 집결장소: 구의3동 주민센터앞 개나리공원<br>
                                - 봉사내역: 현장에서 하는 봉사활동! 빗물받이 수리!<br>
                                <br>
                                이라던데...
                            </text>

                        </div>

                        <div class="comment_box">
                            <h3>댓글</h3>
                            <form class="comment-form">
                                <textarea class="comment-content" type="text" placeholder="댓글을 입력하세요" required></textarea>
                            </form>

                            <div class="btn-box">
                                <button type="submit" class="submit">댓글 달기</button>

                            </div>

                            <div class="comment">
                                <p>익명</p>
                                안가봐서 모르겠네요
                                <p class="post-time">작성 시간: 2024-06-30 01:58</p>
                            </div>
                            <div class="comment">
                                <p>익명</p>
                                시설도 깨끗하고 좋았어요~
                                <p class="post-time">작성 시간: 2024-06-30 14:12</p>
                            </div>
                            <div class="comment">
                                <p>익명</p>
                                으엨...난 별로..
                                <p class="post-time">작성 시간: 2024-06-30 12:53</p>
                            </div>
                            <div class="comment">
                                <p>익명</p>
                                저도 여기 갈예정인데 같이 가시겠습니까?
                                <p class="post-time">작성 시간: 2024-07-01 01:40</p>
                            </div>
                            <div class="comment">
                                <p>익명</p>
                                오 어디서 만나실래요?
                                <p class="post-time">작성 시간: 2024-07-01 01:41</p>
                            </div>
                        </div>

                    </div>

                    <!-- 목록으로 돌아가는 버튼 -->
                    <div class="border_bot">
                        <div class="btn_sec btn_sec_center">
                            <button type="button" class="btn_submit" id="btnList">
                                <span>목록</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>