<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>봉사글 상세보기</title>
    <link rel="stylesheet" href="view-detail.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
</head>
<body>
<!-- 임시 헤더 (위치잡기용) -->
<header><h1>nav바</h1></header>

<!-- 상세보기 틀 -->
<div id="contentwrap">
    <div id="contents"> <!-- side바를 만들지 말지 회의중이라 왼쪽에 빈곳이 있음 -->
        <div class="content" id="content">
            <div class="content_header">
                <h2 class="top_title">기본 정보</h2>
            </div>

            <!-- 등록글 제목 -->
            <div class="content_view">
                <div class="customer_center">
                    <form method="post" name="#" id="#">
                        <div class="board_view type2">
                            <h3 class="top_title_header">
                                <img src="https://www.1365.go.kr/web/vols/images/ico/ico_tit_lv2.png">
                                봉사글 상세보기 이름</h3>

                            <!-- 등록글 내역 -->
                            <div class="board_data type2">
                                <div class="group group_dl1">
                                    <dl>
                                        <dt>봉사기간</dt>
                                        <dd>2024.04.10 ~ 2024.07.09</dd>
                                        <dt>봉사시간</dt>
                                        <dd>9시 0분 ~ 13시 0분</dd>

                                        <dt>모집기간</dt>
                                        <dd>2024.04.03 ~ 2024.07.03</dd>
                                        <dt>활동요일</dt>
                                        <dd>월,화,수,목,토</dd>

                                        <dt>모집인원</dt>
                                        <dd>4 명 / 일</dd>
                                        <dt>신청인원</dt>
                                        <dd>11 명</dd>

                                        <dt>봉사분야</dt>
                                        <dd>생활편의지원 > 활동보조</dd>
                                        <dt>봉사자유형</dt>
                                        <dd>성인</dd>

                                        <dt class="name">모집기관</dt>
                                        <dd>00센터 <a class="button" href="agency-detail.html">상세보기</a></dd>
                                        <dt>등록기관</dt>
                                        <dd>경기도 성남시</dd>


                                        <dt class="name">봉사장소</dt>
                                        <dd>브니엘주야간보호센터 생활실 <a class="button" href="https://www.google.co.kr/maps/?hl=ko">상세보기</a></dd>
                                        <dt>봉사대상</dt>
                                        <dd>노인</dd>

                                        <dt>활동구분</dt>
                                        <dd>오프라인</dd>
                                        <dt>첨부파일</dt>
                                        <dd>첨부파일이 없습니다.</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="info">1. 일시 : 2024.04.10 ~ 2024.07.09(토요일) 9시~13시
                            <br>
                            2. 장소 : 브니엘주야간보호센터 생활실<br>
                            3. 봉사 분야 : 프로그램 보조, 식사 보조, 어르신 주변 정리<br>
                            4. 문의: 이혜정 031-756-3969<br>
                            <br>
                            *하루 최대 4시간 시간 인정 가능<br>
                            *일회성이 아닌 정기적인 봉사활동을 원함<br>
                            *봉사활동 신청 후 승인을 받아야만 봉사활동이 가능함.<br>
                            *봉사 활동 지원 시 봉사 배치를 위해 기관으로 전화 부탁 드립니다. 꼭!!!!!!</div>
                    </form>
                </div>
            </div>
            <div class="manager_bar">

                <div class="name_bar">담당자명 : 이혜정
                    <div>전화번호 : 031-756-3969</div>
                    <div>FAX : 031-754-3969</div>
                </div>

                <div class="LOC_bar">주소 : 경기도 성남시 중원구 둔촌대로 156-6 3층</div>


            </div>

            <div class="border_bot">
                <div class="btn_sec btn_sec_center">
                    <button type="button" class="btn_submit" id="btnList">
                        <span>목록</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>